<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video Call</title>
  </head>
  <body>
    <video id = "idVideo1" width="400px" controls>  </video>
  </body>
  <script src="bundle.js"></script>
</html>
