<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Video Call</title>
  </head>
  <body>
    <video id = "idVideo1" width="400px" controls>  </video>
    <br>
    <video id = "idVideo2" width="400px" controls>  </video>
    <br>
    <textarea  rows="3" cols="100" id = "txtMySignal"></textarea>
    <br>
    <input type="text" placeholder="Your friend's signal" id = "txtFriendSignal">
    <br>
    <button type="button" id="btnButton">Connect</button>
  </body>
  <script src="bundle.js"></script>
</html>
